.container2 {

    width: 100vw;

    height: 100vh;
    background-color: rgba(19, 21, 24, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card2 {
    width: 22%;
    height: 35%;
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select {
    width: 50%;
    height: 32px;
    background: #262E38;
    border-radius: 22.5px;
    margin-top: 8%;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #FC7614;
    display: flex;
    justify-content: center;
    align-items: center;

}


.txt1 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;

}

.txt2 {
    width: 70%;
    height: 72px;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #969FAD;


}

@media (max-width:375px) {
    .card2 {
        width: 60%;
        height: 35%;
        margin: 0 auto;
    }

    .select {
        width: 80%;
    }





}